<div class="bars-container">
    <input type="checkbox" id="bars-toggler" />
    <label class="bars" for="bars-toggler"><i class="ri-menu-line"></i>Genres</label>

    <!-- Genre tags -->
    <div id="tags">
        <div *ngFor="let genre of genres" class="tag" [class.selected]="selectedGenre.includes(genre.id)"
            (click)="toggleGenreSelection(genre.id)">
            {{ genre.name }}
        </div>
    </div>
</div>

<!-- Overlay for displaying movie details -->
<!-- <div id="myNav" class="overlay" *ngIf="isOverlayVisible">

    <a href="javascript:void(0)" class="close-btn" (click)="closeOverlay()">
      <i class="ri-close-line"></i>
    </a> -->

<!-- Dynamic overlay content -->
<!-- <div class="overlay-content" id="overlay-content">
      <div *ngIf="isOverlayVisible">Loading...</div>
      <div *ngFor="let movie of movies" class="movie-item">
        <h3>{{ movie.original_title }}</h3>
        <p>{{ movie.overview | slice:0:100 }}...</p> 
        <span>Release Date: {{ movie.release_date | date }}</span>
        <span>Rating: {{ movie.vote_average }}</span>
      </div>
    </div> -->
<div id="myNav" class="overlay" *ngIf="isOverlayVisible">
    <a href="javascript:void(0)" class="close-btn" (click)="closeOverlay()">
        <i class="ri-close-line"></i>
    </a>

    <!-- Show loading while fetching data -->
    <div *ngIf="isLoading" class="overlay-content">
        Loading...
    </div>

    <!-- Display the selected movie details when overlay is visible -->
    <div *ngIf="!isLoading && selectedMovie" class="overlay-content">
        <h3>{{ selectedMovie.original_title }}</h3>
        <img [src]="'https://image.tmdb.org/t/p/w500' + selectedMovie.poster_path"
            alt="{{ selectedMovie.original_title }}" class="overlay-poster">
        <p>{{ selectedMovie.overview }}</p>
        <span>Release Date: {{ selectedMovie.release_date | date }}</span>
        <span>Rating: {{ selectedMovie.vote_average }}</span>
    </div>


    <!-- Left Arrow -->
    <!-- <a href="javascript:void(0)" class="arrow left-arrow" id="left-arrow" (click)="prevPage()">&#8656;</a> -->

    <!-- Right Arrow -->
    <!-- <a href="javascript:void(0)" class="arrow right-arrow" id="right-arrow" (click)="nextPage()">&#8658;</a> -->
</div>

<!-- Main containing dynamic API content -->
<main id="main">
    <div class="movies-list">
        <div *ngFor="let movie of movies" class="movie-card" (click)="openOverlay(movie)" style="cursor: pointer;">
            <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}"
                class="movie-poster">
            <div class="rating-overlay">
                <!-- <i class="fa fa-star" aria-hidden="true"></i> -->
                <span class="rating">{{ movie.vote_average | number:'1.1-1' }}</span>
            </div>
            <div class="movie-info">
                <h3>{{ movie.title }}</h3>
            </div>
        </div>
    </div>
</main>

<!-- Pagination -->
<div class="pagination">
    <!-- Previous -->
    <div class="page" id="prev" (click)="prevPage()" (click)="scrollToTop()" [class.disabled]="currentPage === 1">
        Previous</div>

    <!-- Current -->
    <div class="current" id="current">{{ currentPage }}</div>

    <!-- Next -->
    <div class="page" id="next" (click)="nextPage()" (click)="scrollToTop()"
        [class.disabled]="currentPage === totalPages">Next</div>
</div>