<footer class="footer" id="footer">
  <!-- Footer Logo and Email -->
  <div class="footer__addr">
    <div class="footer__logo">
      <img id="homepage" src="assets/images/movie-logo.png" alt="react-movie-logo" />
    </div>

    <div class="email">
      <a class="footer__btn" (click)="showModal = true" style="cursor: pointer;">Email Us</a>
    </div>
  </div>

  <ul class="footer__nav">
    <!-- Socials Links -->
    <li class="footer_nav_item">
      <h2 class="footer_nav_title">Social Links</h2>
      <ul class="footer_nav_ul">
        <li>
          <a class="footer-menu-links" href="https://www.instagram.com/" rel="noopener" target="_blank"><i
              class="fa fa-instagram"></i>Instagram</a>
        </li>

        <li>
          <a class="footer-menu-links" href="https://www.github.com/?hl=en" title="Github" rel="noopener"
            target="_blank"><i class="fa fa-github"></i>Github</a>
        </li>

        <li>
          <a class="footer-menu-links" href="https://www.linkedin.com/" title="LinkedIn" rel="noopener"
            target="_blank"><i class="fa fa-linkedin"></i>LinkedIn</a>
        </li>
      </ul>
    </li>

    <!-- Resources Used -->
    <li class="footer_nav_item">
      <h2 class="footer_nav_title">Resources</h2>

      <ul class="footer_nav_ul">
        <li>
          <a class="footer-menu-links" href="https://www.themoviedb.org/documentation/api" target="_blank"
            rel="noopener">API</a>
        </li>

        <li>
          <a class="footer-menu-links" href="https://www.google.com" target="_blank" rel="noopener">Google</a>
        </li>

        <li>
          <a class="footer-menu-links" href="https://www.youtube.com" target="_blank" rel="noopener">YouTube</a>
        </li>
      </ul>
    </li>

    <!-- Technologies Used -->
    <li class="footer_nav_item">
      <h2 class="footer_nav_title">Technology</h2>

      <ul class="footer_nav_ul">

        <li>
          <a class="footer-menu-links" href="https://v15.angular.io/docs" target="_blank" rel="noopener">Angular v15</a>
        </li>
        <li>
          <a class="footer-menu-links" href="https://www.typescriptlang.org/" target="_blank"
            rel="noopener">TypeScript</a>
        </li>
      </ul>
    </li>

    <!-- API Information -->
    <li class="footer_nav_item">
      <h2 class="footer_nav_title">API</h2>

      <ul class="footer_nav_ul">
        <li>
          <a class="footer-menu-links" href="https://www.themoviedb.org/signup" target="_blank"
            rel="noopener">Sign-up</a>
        </li>

        <li>
          <a class="footer-menu-links"
            href="https://developers.themoviedb.org/3/certifications/get-movie-certifications" target="_blank"
            rel="noopener">Certifications</a>
        </li>

        <li>
          <a class="footer-menu-links" href="https://developers.themoviedb.org/3/getting-started/introduction"
            target="_blank" rel="noopener">Documentation</a>
        </li>
      </ul>
    </li>

    <!-- API Provider -->
    <li class="footer_nav_item">
      <h2 class="footer_nav_title">Powered by</h2>
      <ul class="footer_nav_ul">
        <li>
          <img src="assets/images/tmdb-logo.svg" alt="TMDB" />
        </li>
      </ul>
    </li>
  </ul>

  <!-- Developers Information -->
  <div class="legal">
    <p id="dev-info">
      #Developed and Designed by <strong>Saksham Singh</strong> &
      <strong>Amit Kumar</strong>
    </p>
    <div class="legal__links"></div>
  </div>
</footer>


<!-- Email Modal -->

<!-- <div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emailModalLabel">Send Us an Email</h5>
      </div>
     </div>
   </div>
</div> -->

<div class="custom-modal" *ngIf="showModal">
  <div class="custom-modal-backdrop" (click)="closeModal()"></div>
  <div class="custom-modal-content">
    <div class="custom-modal-header">
      <h3>Send Us an Email</h3>
      <button class="close-btn" (click)="closeModal()">&#10005;</button>
    </div>
    <div class="custom-modal-body">
      <form [formGroup]="emailForm" (ngSubmit)="submitEmail()">
        <div class="form-group">
          <label for="email">Your Name</label>
          <input type="text" id="Name" formControlName="name" class="form-control" placeholder="Enter Your Name"
            required />
        </div>
        <div class="form-group">
          <label for="email">Your Email</label>
          <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email"
            required />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea id="message" formControlName="message" class="form-control" rows="4"
            placeholder="Write your message here" required></textarea>
        </div>
        <button type="submit" class="submit-btn" [disabled]="emailForm.invalid" (click)="saveEmailForm()">Send Email</button>
      </form>
    </div>
  </div>
</div>